body {
	margin: 0; /* prevents scrollbars */
	overflow: hidden;
}

.wrapper {
	width: 100vw;
	overflow: auto;
	max-height: 100vh;
}

.resizer {
	/* Displayed at the right side of column */
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	cursor: col-resize;
	user-select: none;
	z-index: 50;
}

.resizer:hover,
.resizing {
	border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.long {
	white-space: nowrap;
	text-overflow: "[..]";
	overflow: hidden;
}
